/* Global styles */
body,
html {
  height: 100%;
  font-family: Lato, Arial, sans-serif;
  overflow-x: hidden; }

#home {
  background: url("../images/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #home .home-details .logo {
    height: 55px;
    width: 55px; }
