/* Global styles */
body,
html {
  height: 100%;
  font-family: Lato, Arial, sans-serif;
  overflow-x: hidden; }

/* Home Section */
#home {
  background: url("../images/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #home .home-details .logo {
    height: 55px;
    width: 55px; }
  #home .scroll-down {
    position: absolute;
    bottom: 1.3rem; }
    #home .scroll-down button {
      height: 2.4rem;
      width: 1.5rem;
      line-height: 1.3rem;
      background: transparent;
      border: 2px solid #fff;
      cursor: pointer;
      transform: rotate(180deg); }

/* Home Section */
#services {
  background: url("../images/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px; }
  @media screen and (min-width: 992px) {
    #services {
      min-height: 480px;
      height: auto; } }

#contact {
  background: url("../images/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  #contact input,
  #contact textarea {
    background: transparent;
    border-radius: 0;
    color: #fff; }
    #contact input::placeholder,
    #contact textarea::placeholder {
      color: #cccccc; }
    #contact input:focus, #contact input:active,
    #contact textarea:focus,
    #contact textarea:active {
      box-shadow: none;
      border-color: #fff; }
  #contact button:focus, #contact button:active {
    box-shadow: none;
    border-color: #fff; }
